.commitment .container {
    margin-bottom: 244px;
    display: flex;
    justify-content: space-around;
}

.commitment__wall {
    align-items: center;
}

.commitment__heading {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    margin: 0;
    margin-top: 90px;
    margin-bottom: 32px;
    padding: 0;
    color: #333D4B;
    
}

.commitment__paragraph {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    width: 540px;
    margin: 0;
    padding: 0;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
    
}