.headquaters__title {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    margin-bottom: 72px;
    color: #83888F;
}

.headquaters__column {
    display: flex;
    justify-content: space-between;
    
}

.headquaters__image {
    margin: 0;
    margin-bottom: 38px;
}

.headquaters__heading {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    width: 255px;
    margin: 0;
    margin-bottom: 42px;
    padding: 0;
    color: #333D4B;
    
}

.headquaters__paragraph {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    width: 285px;
    margin: 0;
    padding: 0;
    color: #333D4B;
}